<h1>Estadísticas</h1>
<br/>
<ul>
	<li><%=statistics.quizes%> preguntas.</li>
	<li><%=statistics.comments%> comentarios en total.</li>
	<li><%=statistics.quizes_comments_ratio.toFixed(1)%> comentarios por pregunta.</li>
	<li><%=statistics.commented%> preguntas con comentarios.</li>
	<li><%=statistics.uncommented%> preguntas sin comentarios.</li>	
</ul>